.form-container {
    position: relative;
    padding-bottom: 100%;
    margin-bottom: 0px;
    border-bottom: 1px solid transparent;
    height: 0;
    overflow: hidden;
}

.form-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.tagline {
    text-align: center;
}

body {
    border: 1px solid transparent;
}